#*******************************************************************************************************************
# 
# 	Author  : Burke Weston
# 	Date    : 2026/08/06
# 	File    : .gitignore
# 	Project : JAudio Studio
# 
#*******************************************************************************************************************#

.DS_Store
.vscode
cmake
bin
.venv